.circle {
    background-color: rgb(23, 174, 174);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 1rem;
    cursor: pointer;

}



.active {
    background: url(/src/assets/car.jpg) no-repeat center center/cover;
}