.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 1rem;
    cursor: pointer;

}

.circle:nth-child(1) {
    background-color: brown;
}

.circle:nth-child(2) {
    background-color: orange;
}

.circle:nth-child(3) {
    background-color: green;
}

.circle:nth-child(4) {
    background-color: yellow;
}

.active {
    background: url(/src/assets/car.jpg) no-repeat center center/cover;
}