* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(to bottom, blue, rgb(238, 13, 50));
  min-height: 100VH;
  font-family: 'Dancing Script';
}


.container {
  width: 900px;
  margin: auto;
  height: 100vh;
}


h1,
p {
  text-align: center;
  padding: 2rem 0;
  color: white;
}



.circles {
  margin-top: 5rem;
  display: flex;

}

.container .buttons {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  margin: 1.5rem;
  border: none;
  font-family: 'Dancing Script';
}