.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 13, 13, 0.794);
    z-index: 100;
}

.modal {
    background-color: rgb(248, 248, 250);
    position: relative;
    width: 600px;
    min-height: 40%;
    padding: 2.5rem;
    border-radius: 15px;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    border: solid 2px gray;
}